#mysql -u root
#CREATE USER 'backup_user'@'localhost' IDENTIFIED BY 'digital@142536';
#GRANT SELECT, SHOW VIEW, RELOAD, PROCESS, LOCK TABLES, REPLICATION CLIENT ON *.* TO 'backup_user'@'localhost';
#FLUSH PRIVILEGES;
#EXIT;
#chmod 600 ~/.my.cnf
[client]
user=backup_user
password=digital@142536
host=localhost